.flex-container {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1312px;
}

.first-section-header {
  height: 63px;
  border-bottom: 1px solid #DDE0E6;
  font-family: "Roboto";
  text-decoration: none;
}
.first-section-header span {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.header-part {
  display: flex;
  align-items: center;
}
.header-part a {
  margin-left: 22.59px;
  display: flex;
  font-family: Roboto;
  text-decoration: none;
}
.header-part a .span {
  margin-left: 23px;
}

.header-part-3img {
  margin-left: 24px;
  margin-right: 20px;
}

.header-part-2img {
  margin-left: 20px;
}

.second-section-header {
  height: 48px;
}
.second-section-header span {
  margin-left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: #6E7178;
}
.second-section-header span:nth-child(2n) {
  margin-left: 8px;
}

.sc-section-hr-img1 {
  margin-left: 32px;
}

.sc-section-hr-img2 {
  margin-left: 18px;
}

.sc-section-hr-img3 {
  margin-left: 19px;
  width: 16px;
  height: 20px;
}

.header-part22 > span {
  margin-right: 16px;
}

.sc-section-hr-img4p2 {
  width: 16px;
  height: 20px;
}

.sc-section-hr-img5p2 {
  margin-left: 8px;
  margin-right: 16px;
}

body {
  margin: 0;
  background-color: #F4F7FB;
}
body .flex-container {
  background-color: #fff;
}
body .main-screen {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  width: 100%;
}
body .main-screen .post-descr-flex {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
body .main-screen .post-descr-flex .decsr-first-part span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
body .main-screen .post-descr-flex .descr-second-part {
  display: flex;
  align-items: center;
}
body .main-screen .post-descr-flex .descr-second-part .second-part-divspan span {
  font-family: "Roboto";
  margin-left: 16px;
  margin-right: 16px;
  color: #6E7178;
}
body .main-screen .tape-post {
  border: 1px solid #DDE0E6;
  background-color: #fff;
  padding-left: 16px;
  padding-right: 16px;
}
body .main-screen .tape-post .tape-post-img {
  display: flex;
  justify-content: center;
}
body .main-screen .tape-post .tape-post-img img {
  border-radius: 2px;
  min-width: 100px;
  max-width: 100%;
}
body .main-screen .tape-post .tape-post-comment {
  margin: 16px;
}
body .main-screen .tape-post .tape-post-comment .pre-comment-line {
  display: flex;
  align-items: center;
}
body .main-screen .tape-post .tape-post-comment .pre-comment-line span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 8px;
}
body .main-screen .tape-post .tape-post-comment .pre-comment-line span a {
  text-decoration: none;
  color: #2375E1;
}
body .main-screen .tape-post .tape-post-comment .post-comment-text {
  border-left: 2px solid #C4C4C4;
  padding-left: 16px;
}
body .main-screen .tape-post .tape-post-comment .post-comment-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
body .main-screen .tape-post .tape-post-comment .post-comment-text p:nth-child(1) {
  color: #2D2F33;
}
body .main-screen .tape-post .tape-post-comment .post-comment-text p:nth-child(2) {
  color: #6E7178;
}
body .main-screen .tape-post .tape-post-last-line {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
}
body .main-screen .tape-post .tape-post-last-line .last-line-first-part, body .main-screen .tape-post .tape-post-last-line .last-line-second-part {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
body .main-screen .tape-post .tape-post-last-line .last-line-first-part img {
  margin-right: 8px;
}
body .main-screen .tape-post .tape-post-last-line .last-line-first-part span {
  margin-right: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2D2F33;
}
body .main-screen .tape-post .tape-post-last-line .last-line-second-part img {
  margin-left: 8px;
}
body .main-screen .tape-post .tape-post-last-line .last-line-second-part a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #6E7178;
}
body .main-screen .main-screen-inner {
  /**/
  /* max-width: 1248px; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 2;
  width: 1248px;
}
body .main-screen .main-screen-inner-first-section {
  width: 100%;
  margin-right: 24px;
  /*11border:1px dotted;          /**/
}
body .main-screen .main-screen-inner-first-section a {
  text-decoration: none;
}
body .main-screen .main-screen-inner-first-section .last-inscript {
  border: 1px solid #DDE0E6;
  background-color: #fff;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
body .main-screen .main-screen-inner-first-section .last-inscript .ins-first-part, body .main-screen .main-screen-inner-first-section .last-inscript .ins-second-part {
  margin: 16px;
}
body .main-screen .main-screen-inner-first-section .last-inscript .ins-first-part span, body .main-screen .main-screen-inner-first-section .last-inscript .ins-second-part span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2D2F33;
}
body .main-screen .main-screen-inner-personal {
  /* border:1px dotted;          /**/
}
body .main-screen .main-screen-inner-personal .personal-data-content {
  border: 1px solid #DDE0E6;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-screen .main-screen-inner-personal .personal-data-content .imgblock img {
  margin-top: 32px;
}
body .main-screen .main-screen-inner-personal .personal-data-content .NamePerson {
  margin-top: 16px;
  margin-bottom: 8px;
}
body .main-screen .main-screen-inner-personal .personal-data-content .NamePerson span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
body .main-screen .main-screen-inner-personal .personal-data-content .profession span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #A1A5AE;
}
body .main-screen .main-screen-inner-personal .personal-data-content .vk-badges {
  margin-top: 16px;
  margin-bottom: 34px;
}
body .main-screen .main-screen-inner-personal .personal-data-nav {
  display: flex;
  margin-top: 24px;
  border: 1px solid #DDE0E6;
  background-color: #fff;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav {
  width: 100%;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .first-section-nav {
  padding: 12px;
  border-bottom: 1px solid #DDE0E6;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .first-section-nav .nav-bar {
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  justify-content: space-between;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .first-section-nav .nav-bar span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-ftSection {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #DDE0E6;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-ftSection .nav-list-element {
  display: flex;
  align-items: center;
  height: 56px;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-ftSection .nav-list-element img {
  margin-left: 24px;
  margin-right: 16px;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-ftSection .nav-list-element span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-ftSection .nav-list-element .div-balance {
  display: flex;
  align-items: center;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-ftSection #balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-ftSection #balance > span {
  margin-right: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #A1A5AE;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-ftSection #Connections1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-ftSection #Connections1 .Connections-count {
  display: flex;
  justify-content: center;
  background-color: #EF4115;
  border-radius: 8px;
  width: 23px;
  height: 16px;
  align-items: center;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-ftSection #Connections1 .Connections-count span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  margin-left: 4px;
  margin-right: 4px;
  color: #FFFFFF;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-sdSection #Connections2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-sdSection #Connections2 .Connections-count {
  display: flex;
  justify-content: center;
  background-color: #26A69A;
  border-radius: 8px;
  width: 23px;
  height: 16px;
  align-items: center;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-sdSection #Connections2 .Connections-count span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  margin-left: 4px;
  margin-right: 4px;
  color: #FFFFFF;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-sdSection .nav-list-element {
  display: flex;
  align-items: center;
  height: 56px;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-sdSection .nav-list-element img {
  margin-left: 24px;
  margin-right: 16px;
}
body .main-screen .main-screen-inner-personal .personal-data-nav .personal-nav .nav-list-sdSection .nav-list-element span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
body .main-screen .personal-data-lastSection {
  border: 1px solid #DDE0E6;
  background-color: #fff;
  margin-top: 24px;
}
body .main-screen .personal-data-lastSection .pdlsc-navBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DDE0E6;
}
body .main-screen .personal-data-lastSection .pdlsc-navBar span {
  margin: 12px;
  margin-left: 24px;
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
body .main-screen .personal-data-lastSection .pdlsc-navBar img {
  margin-right: 24px;
}
body .main-screen .personal-data-lastSection .pdlsc-input {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #DDE0E6;
  /*textarea::plac*/
}
body .main-screen .personal-data-lastSection .pdlsc-input textarea {
  margin: 24px 24px;
  font-size: 14;
  min-width: 256px;
  height: 110px;
  border-radius: 0px 0px 2px 2px;
  background: #FFFFFF;
  border: 1px solid #DDE0E6;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  resize: none;
  font-family: "Roboto";
}

.header {
  font-family: Roboto;
}

.timer-div {
  border: 1px solid #DDE0E6;
  background-color: #fff;
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 16px;
  padding-left: 16px;
}
.timer-div .timer-div-content {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.timer-div .timer-div-content span {
  margin-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2D2F33;
}

.main-main-screen {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-main-screen .main-screen {
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  color: #2375E1;
  border-bottom: 3px solid #2375E1;
}

.map-container {
  border: 1px solid #DDE0E6;
  background-color: #fff;
  display: flex;
  padding: 16px;
  width: 100%;
}
.map-container .map-container-div {
  flex-shrink: 1;
  width: 100%;
}
.map-container .map-container-div span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}
.map-container .map-container-div .the-map {
  margin-top: 16px;
}

/*# sourceMappingURL=main.css.map */
