
@mixin SetborderAndBColor(){
    border: 1px solid #DDE0E6;
    background-color: #fff;
}
.flex-container{
    display: flex;
    justify-content: center;
    
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width: 1312px;
}
.first-section-header{
    height: 63px;
    border-bottom: 1px solid #DDE0E6;
    span{
        font-family: "Roboto";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
    
}

.header-part{
    display: flex;
    align-items:center;
    span{
        margin-left: 23.79px;
        font-family: "Roboto";
    }
}
.header-part-1img{
    margin-left: 22.59px;
}
.header-part-3img{
    margin-left: 24px;
    margin-right: 20px;
} 
.header-part-2img{
    margin-left: 20px;
   
} 

.second-section-header{
   height: 48px;
   span{
       margin-left: 10px;
       font-family: "Roboto";
       font-style: normal;
       font-weight: 500;
       color:#6E7178;
   }
   span:nth-child(2n){
       margin-left: 8px;
   }
}
.sc-section-hr-img1{
    margin-left: 32px;
}
.sc-section-hr-img2{
margin-left: 18px;
}
.sc-section-hr-img3{
    margin-left: 19px; 
    width: 16px;
    height: 20px;
}
.header-part22>span{
    margin-right: 16px;
}
.sc-section-hr-img4p2 {
    width: 16px;
    height: 20px; 
}
.sc-section-hr-img5p2{
    margin-left: 8.1px;
    margin-right: 16px;
}

body{
    margin: 0;
    background-color: #F4F7FB;
    .flex-container{
        background-color: #fff;
    }
    .main-screen{
        display: flex;
        justify-content: center;
        margin-top:24px;
        .post-descr-flex{
            display: flex;
            justify-content:space-between;
            padding: 16px;
            .decsr-first-part{
                span {
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .descr-second-part{
                display: flex;
                align-items: center;
                .second-part-divspan{
                        
                        span{
                            font-family: "Roboto" ;
                            margin-left: 16px;
                        margin-right: 16px;
                        color: #6E7178;
                        }
                }
            }
        }
        .tape-post{
            
            @include SetborderAndBColor();
            padding-left: 16px;
                    padding-right: 16px;
            .tape-post-img{
                img{
                    border-radius: 2px;
                    min-width: 100%;
                    max-width: 100%;
                    

                }
                display: flex;
                justify-content: center;
            }
            .tape-post-comment{
                margin:16px;
                .pre-comment-line{
                    display: flex;
                    align-items: center;
                    span{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        margin-left: 8px;
                        margin-right: 8px;
                        a{
                            text-decoration: none;
                            color: #2375E1;
                        }

                    }
                }
                .post-comment-text{
                    border-left:2px solid #C4C4C4; 
                    padding-left: 16px;
                    
                    p{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                    }
                    p:nth-child(1){
                                
                                color: #2D2F33;

                     }   
                     p:nth-child(2){
                        color: #6E7178;
                     }
                    
                }
                
                
            }
            .tape-post-last-line{
                display: flex;
                justify-content: space-between;
                margin-left: 16px;
                margin-right: 16px;
                .last-line-first-part, .last-line-second-part{
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                }
                .last-line-first-part{
                    img{
                        margin-right: 8px;

                    }
                    span{
                        margin-right: 16px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #2D2F33;
                    }
                }
                .last-line-second-part{
                    img{
                        margin-left: 8px; 
                    }
                    a{
                        text-decoration: none;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #6E7178
                    }
                }
                
            }
        }
        
        .main-screen-inner{
                             /**/
            max-width: 1248px;
            display: flex;
            align-items: flex-start;
        }
        .main-screen-inner-first-section{                           
            max-width: 872px;               
            margin-right: 24px;  
            a{
                text-decoration: none;
            }          
            /*11border:1px dotted;          /**/
            .last-inscript{
                @include SetborderAndBColor();
                margin-top: 24px;
                display: flex;
                justify-content: space-between;
                .ins-first-part, .ins-second-part{
                       margin: 16px;  
                       span{
                            
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            color: #2D2F33;
                       }   
                }

            }
            

        }  
        .main-screen-inner-personal{                           
            width: 352px;               
             .personal-data-content{
                 @include SetborderAndBColor();
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 .imgblock{
                     img{
                         margin-top: 32px;
                     }
                 }
                 .NamePerson{
                        margin-top: 16px;
                        margin-bottom: 8px;
                        span{
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 24px;
                        }

                 }
                 .profession{
                     span{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #A1A5AE;
                     }
                 }
                 .vk-badges{
                     margin-top: 16px;
                     margin-bottom: 34px;
                 }

                }
                .personal-data-nav{
                    display: flex;
                    margin-top:24px; 
                    @include SetborderAndBColor();
                    .personal-nav{
                        width: 352px;
                        .first-section-nav{
                            padding: 12px;
                            border-bottom: 1px solid #DDE0E6;
                            .nav-bar{
                                margin-left: 12px;
                                margin-right: 12px;
                                display:flex;
                                justify-content: space-between;
                                span{
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                            }
                            
                        }
                        .nav-list-ftSection{
                            display: flex;
                            flex-direction: column;
                            border-bottom: 1px solid #DDE0E6;
                            
                            .nav-list-element{
                                display: flex;
                                align-items: center;
                                height: 56px;
                               
                                img{
                                    margin-left: 24px;
                                    margin-right: 16px;
                                }
                                span{
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                                .div-balance {
                                    display: flex;
                                    align-items: center;
                                }
                                
                            }
                            #balance{
                                   display: flex;
                                   align-items: center; 
                                   justify-content: space-between;
                                   
                            }
                            #balance>span{
                                margin-right: 24px;
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 20px;
                                color: #A1A5AE;
                           }
                           #Connections1{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-right: 24px;
                                .Connections-count{
                                    display: flex;
                                    justify-content: center;
                                    background-color: #EF4115;
                                    border-radius: 8px;
                                    width: 23px;
                                    height: 16px;
                                    align-items: center;
                                    
                                    span {
                                        font-family: Roboto;
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 13px;
                                        margin-left: 4px;
                                        margin-right: 4px;
                                        
                                        color: #FFFFFF;
                                    }
                                    
                                }
                           }
                           
                          



                        }
                        .nav-list-sdSection{
                            #Connections2{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-right: 24px;
                                .Connections-count{
                                    display: flex;
                                    justify-content: center;
                                    background-color: #26A69A;
                                    border-radius: 8px;
                                    width: 23px;
                                    height: 16px;
                                    align-items: center;
                                    
                                    span {
                                        font-family: Roboto;
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 13px;
                                        margin-left: 4px;
                                        margin-right: 4px;
                                        
                                        color: #FFFFFF;
                                    }
                                }

                            }

                            .nav-list-element{
                                display: flex;
                                align-items: center;
                                height: 56px;
                                
                                img{
                                    margin-left: 24px;
                                    margin-right: 16px;
                                }
                                span{
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                                
                            }
                            
                           
                        }

                    }
                    
                }

               /* border:1px dotted;          /**/
            }  
            

        .personal-data-lastSection{
            @include SetborderAndBColor();
            margin-top: 24px;
            .pdlsc-navBar{
                display: flex;
                justify-content: space-between;
                
                border-bottom: 1px solid #DDE0E6;
                span{
                    margin: 12px;
                    margin-left: 24px;
                    margin-top: 8px;
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;

                }
                img{
                    margin-right: 24px;
                }
            }
            .pdlsc-input{
                margin-top: 15px;
                display: flex;
                justify-content: center;
                padding-bottom: 24px;
                border-bottom: 1px solid  #DDE0E6;
                textarea{
                   
                    font-size: 14;
                    width: 256px;
                    height: 110px;
                    border-radius: 0px 0px 2px 2px;
                    background: #FFFFFF;
                    border: 1px solid #DDE0E6;
                    padding-top: 12px;
                    padding-left: 24px;
                    padding-right: 24px;
                    resize:none;
                    font-family: "Roboto";
                }
                /*textarea::plac*/
            }
        }

    }

}




