<div class="main-screen-inner-first-section tape"> <!-- левый блок -->
    <div class="tape-post">   <!-- описание поста -->
        <div class="tape-post-descr">
            <div class="post-descr-flex">
                <div class="decsr-first-part">
                    <span class = "mainScreen-line-span">Himalayan sunset</span>
                </div>
                <div class="descr-second-part">
                    <img class = "second-part-img1" src="./img/DoneBadge.svg" alt="">
                    <div class="second-part-divspan"><span class="second-part-span">49 minutes ago</span></div>
                    
                    <img class = "second-part-img2" src="./img/UpStroke.svg" alt="">
                </div>
            </div>
        </div>
        <div class="tape-post-img">
            <img src="./img/SunsetImage.png" alt="">
        </div>
        <div class="tape-post-comment">
            <div class="pre-comment-line">
                <img src="./img/comment_line.svg" alt="">
                
                
                <span><a href="#">Kirill Dashkevich</a> commented:</span>
            </div>
            <div class="post-comment-text">
                <p class="comment-text">The sun disappearing behind the Himalayas. This was taken from near the Tungnath temple (~3500m) in the Garwhal Himalayas near Chopta. I think this is probably my favourite of all of the sunset photos</p>
                <p class="comment-decr">— Kirill, 10:39 am</p>
            </div>

            
            
        </div>
        <div class="tape-post-last-line">
                <div class="last-line-first-part">
                    <img src="./img/eye.svg" alt="" class="eye">
                    <span class="eye-span">438</span>
                    <img src="./img/comment_line.svg" alt="" class="eye">
                    <span class="comment-span">71</span>
                </div>
                <div class="last-line-second-part">
                    
                    <a href="#">Read past</a>
                    <img src="./img/right_stroke.svg" alt="" class="read-post-img">
                </div>
        </div>

    </div>
    <a href="#">
        <div class="last-inscript">
            <div class="ins-first-part">
                <span class="ins-text">Conservation with James</span>
            </div>
            <div class="ins-second-part">
                <img src="./img/DownStroke.svg" alt="">
            </div>
        </div>
    </a>
    
</div>
<div class="main-screen-inner-personal personal-data"><!-- блок с персональной информацией -->
    <div class="personal-data-content">
        <div class="imgblock">
            <img src="./img/pain.svg" alt="">
        </div>
        <div class="NamePerson">
                <span>Harold Pain </span>                        
        </div>
        <div class="profession">
            <span>UX/UI designer</span>
        </div>
        <div class="vk-badges">
            <img src="./img/vk.svg" alt="" id = "vk-badges1" class="">
            <img src="./img/vk.svg" alt="" id = "vk-badges2" class="">
            <img src="./img/vk.svg" alt="" id = "vk-badges3" class="">
        </div>
    </div>
    <div class="personal-data-nav">
        <div class="personal-nav">
            <div class="first-section-nav">
                <div class="nav-bar">
                    <span>Navigation</span>
                    <img src="./img/DownStroke.svg" alt="">
                </div>
            </div>
            <div class="nav-list">
                <div class="nav-list-ftSection">
                    <div class="nav-list-element">
                       
                            <img src="./img/User.svg" alt="">
                            <span>My profile</span> 
                    </div>
                    <div class="nav-list-element" id="balance">
                        <div class="div-balance">
                            <img src="./img/User.svg" alt="">
                            <span>Balance</span>
                        </div>
                        <span>$1,456</span>

                        
                    </div>
                    <div class="nav-list-element"id = "Connections1">
                        <div>
                            <img src="./img/User.svg" alt="">
                            <span>Connections</span>
                        </div>
                        <div class="Connections-count">
                            <span id="Connections-count">
                                47
                            </span>
                        </div>
                    </div>
                    <div class="nav-list-element">
                        <img src="./img/User.svg" alt="">
                        <span>Friends</span>
                    </div>   
                </div>

                <div class="nav-list-sdSection">
                    <div class="nav-list-element" id = "Connections2">
                        <div>
                            <img src="./img/User.svg" alt="">
                            <span>Connections</span>
                        </div>
                        <div class="Connections-count">
                            <span id="Connections-count">
                                47
                            </span>
                        </div>
                    </div>
                    
                    <div class="nav-list-element" >
                        
                            <img src="./img/User.svg" alt="">
                            <span>Account settings</span>
                        
                        
                    </div>
                </div>

            </div>
            
        </div>
            
    </div>
    
    <div class="personal-data-lastSection">
        <div class="pdlsc-navBar">
            <span>Share your thoughts</span>
            <img src="./img/DownStroke.svg" alt="">
        </div>
        <div class="pdlsc-input">
            <textarea placeholder = "Enter your message..." type="text"></textarea>
        </div>
    </div>


    
</div> 